<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>12-17test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F567B6771DF849AE00FC2B93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F567B6901DF849AF00FC2B93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F567B69B1DF849AF00FC2B93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
